@page "/"

<PageTitle>Index</PageTitle>
<style>
    .container  {
        width: 400px;
    }
    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var animal in shuffeldAnimals)
        {
            <div class="col-3">
               <button @onclick="@(() => ButtonClick(animal))"
                        type="button" class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
</div>

@code{
    List<string> animalEmoji = new List<string>()
    {
        "🐶", "🐶",
        "🐺", "🐺",
        "🐮", "🐮",
        "🦊", "🦊",
        "🐱", "🐱",
        "🦁", "🦁",
        "🐯", "🐯",
        "🐹", "🐹"
    };

    List<string> shuffeldAnimals = new List<string>();

    protected override void OnInitialized()
    {
        SetupGame();
    }

    private void SetupGame()
    {
        Random random = new Random();

        shuffeldAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();
    }

    string lastAnimalFound = string.Empty;
    private void ButtonClick(string animal)
    {
        if (lastAnimalFound == string.Empty)
        {
            // First selection of the pair. Remeber it.
            lastAnimalFound = animal;
        }
        else if(lastAnimalFound == animal)
        {
            // Match found! Reset for next pair.
            lastAnimalFound = string.Empty;

            // Replace found animals with empty string to hide them.
            shuffeldAnimals = shuffeldAnimals
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();
        }
        else
        {
            // User selected a pair that don't match.
            // Reset selection.
            lastAnimalFound = string.Empty;
        }
    }
}
